body {
  background-color: rgb(255, 204, 213);
}

.main-container {
  margin: 40px;
}

.profile-picture {
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.yesno-btn {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  min-width: 60px;
  border-color: rgb(235, 165, 165);
  border-style: solid;
  font-family: sans-serif;

}

#banner-img {
  max-width: 200px;
}